@import '../../components/variables.scss';
.user {
  padding: 8px 12px;
  display: flex;
  height: 32px;
  align-items: center;
  cursor: pointer;
  color: whitesmoke;
  min-width: 120px;

  &:hover {
    background-color: $color-button--hover;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .userName {
    margin-left: 12px;
    font-size: 12px;
  }

  .chevronDown {
    margin-left: auto;
    // width: 8px;
  }
}
