.sidebar {
  grid-area: sidebar;
  background-color: #324148;
  width: 240px;
  overflow-y: scroll;
  height: 100vh;
}

.sidebar ::-webkit-scrollbar {
  // overflow-x: visible;
  // scrollbar-color: rebeccapurple green;
  // scrollbar-width: 12px;
  height: 0.4rem;
  width: 0.4rem;
}

.menuTitle {
  text-transform: uppercase;
  padding: 8px 12px 4px;
  color: rgba(179, 179, 179, 0.952);
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(155, 155, 155, 0.9);
}
